* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #083b4c;
    display: grid;
    place-items: center;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 5rem;
    /* margin-block: 30px; */
}

.board {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 80px;
    height: 80px;
    color: black;
    display: grid;
    place-items: center;
    margin: 1rem;
    background-color: #1389b2;
}

.fizz {
    background-color: #0bd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizzBuzz {
    background-color: #f0466f;
}